.mint-viewer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    min-height: 99vh;
    overflow: auto;
    row-gap: 25px;
}

.image-mint {
    width: 300px;
    z-index: 0;
}

.mint-viewer > h1 {
    font-family: 'Articulat.CF-V3-Heavy';
    font-size: 70px;
    width: max(350px, 50%);
    text-align: center;
}

.mint-button {
    border: none;
    background-color: #f0f1f3;
    font-family: 'Articulat.CF-V3-Heavy';
    font-size: 21px;
    border-radius: 2px;
    padding: 6px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.error {
    color: rgb(235, 83, 83)
}

.statusText {
    text-align: center;
    width: 350px;
    font-size: 20px;
    height: 100px;
}

.status {
    z-index: 2;
}
@media only screen and (max-width: 1080px) {
    .mint-viewer > h1 {
        font-family: 'Articulat.CF-V3-Heavy';
        font-size: 55px;
        width: max(350px, 50%);
        text-align: center;
    }
  }

.mint-box {
    border: 2px solid #f0f1f3;
    width: 350px;
    height: 200px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
}

.mint-select {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.mint-amount {
    border: 1px solid #f2f2f2;
    width: 50%;
}

.number {
    font-size: 35px;
    width: 50px;
}

.big {
    font-size: 24px;
}

.icon-img {
    width: 60px;
    height: 60px;
}

.tall {
    height: 70px;
}

.icon-holder {
    display: flex;
    column-gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}